@import "~bootstrap/scss/bootstrap.scss";

.card{
    background-color: white;
    margin: 5% 5% -1% 5%;
    border-color: white;
}

.Jumbotron{
    background-color: lightgray;
    padding: 2%;
    width: 90%;
    margin: 5% 5% -3% 5%;
}